/**,*/
/**::before,*/
/**::after {*/
/*	box-sizing: border-box;*/
/*	margin: 0;*/
/*	position: relative;*/
/*	font-weight: normal;*/
/*}*/

body {
	min-height: 100vh;
	color: white;
	background-color: black;
	transition: color 0.5s, background-color 0.5s;
	line-height: 1.6;
	font-family: "Fira Code", "Fira Mono", "SF Mono", "Roboto Mono", Consolas, Monaco, "Lucida Console", "Courier New", monospace;
	text-rendering: geometricPrecision;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	margin: 0;
	padding: 0;
	background-size: cover;
}

.box {
	width: 450px;
	background: rgba(0, 0, 0, 0.4);
	padding: 40px;
	text-align: center;
	margin: 4% auto auto;
	color: white;
	font-family: 'Century Gothic', sans-serif;
}

.box-img {
	border-radius: 50%;
	width: 200px;
	height: 200px;
}

.box h1 {
	font-size: 40px;
	letter-spacing: 4px;
	font-weight: 100;
}
.box p {
	text-align: center;
}

ul {
	margin: 0;
	padding: 0;
}

.box li {
	display: inline-block;
	margin: 6px;
	list-style: none;
}

.box li a {
	color: white;
	text-decoration: none;
	font-size: 60px;
	transition: all ease-in-out 250ms;
}

.box li a:hover {
	background-color: transparent;
}


